﻿* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	min-width: 1319px;
	min-height: 570px;
	background-color: lightblue;
}

header,
footer {
	height: 15%;
	padding: 1em;
	text-align: center;
}

footer {
	clear: both;
}

#Game_Setup,
#Stats_table {
	padding: 1em;
	background-color: lightblue;
	height: 87%;
}

#tabs {
	background-color: #ebe7e7;
	/* padding: 1em 0.3em; */
	height: 10%;
}

#tabs button {
	height: 100%;
	padding: 0 1.3em;
	border: none;
	background: none;
	font-size: 1em;
}

#tabs :nth-child(1) {
	background-color: #c9c7c7;
}

#leftSection,
#middleSection {
	border: 2px solid darkcyan;
	height: 70%;
	float: left;
}

#leftSection {
	width: 30%;
	background-color: #404c50;
	padding: 0.5em;
}

#middleSection {
	width: 70%;
	background-color: rgb(236, 223, 223);
	padding: 0.6em;
	padding-left: 9%;
}

legend {
	font-size: 1.2em;
	color: #09384e;
	font-weight: bold;
}

label {
	width: 40%;
	margin: 2px;
}

.greenButton {
	background-color: #4caf50;
	color: white;
}
.blueButton {
	background-color: #008cba;
}
.redButton {
	background-color: #f44336;
	color: white;
}
.disabledButton {
	background-color: #e7e7e7;
	color: #6d6d6d;
}

#checkBoardId {
	float: left;
	width: 100%;
	height: 100%;
	background-color: white;
}

.puzzleBoard {
	/* to be assigned to the inner html of div#checkBoardId*/
	margin: 1px;
	border: 3px solid black;
	padding: 2px;
	height: 100%;
	width: 100%;
	/* use proper styling for positioning, spacing borders, … */
}

.filledTile,
.emptyTile {
	width: 30%;
	height: 30%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	background-color: #77b3ed;
	border: 2px solid #404c50;
	color: white;
	font-weight: bold;
	font-size: 3em;
	border-spacing: 2px;

	/* use proper styling for spacing borders, */
}

.emptyTile {
	background-color: #afd9ec;
	color: #afd9ec;
}
