table.tableStats {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  table.tableStats tr:nth-child(1) {
    background-color: #1bc01b;
    color: white;
    text-align: justify;
  }

  table.tableStats td, table.tableStats th  {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 0.6em 0.3em;
  }

  table.tableStats tr:nth-child(even) {
    background-color: #e6ebef;
  }

 button {
   outline: none;
 }

  #Game_Setup {
    /* display:none; */
  }

  #Stats_table {
    display: none;
  }


#Game_Info_stgs, #Game_Progress {
	padding: 0.5em;
}

#Game_Progress section{
  float: left;
  width: 25%;
  padding: 0 1em 0 0;
}

#Game_Progress  label{
  display: block;
}

#Game_Progress  input{
  width: 100%;
}

#Game_Info_stgs label {
	display: inline-block;
}

#Play_btn,
#Cancel_btn {
  border: none;
	font-size: 1em;
	text-align: center;
  padding: 1em;
  width: 40%;
}


  /* use proper styling for td, th */
  /* use proper styling for table.tableSats tr:nth-child(XYZ), hover */
  /*--------------------------*
  